input {
    width: 100px;
}
fieldset {
    width: 500px;
    margin-left: 385px;
    margin-right: 385px;
    background-color: black;
    border-width: 18px;
    border-color: white;
    border-style: groove;
}
html {

}
body {
    background-image: url("math2.png");
}
h2 {
    color: white;
}
